/* extends */
.contenedorBlanquiamento, .contenedorDisenio, .contenedorArmonia {
  background-color: black;
  color: antiquewhite;
  padding: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center; }

/* estilos de para los 5 html */
/*Reset*/
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box; }

.boton {
  color: #dda9a4;
  background-color: #dda9a4;
  margin-left: auto;
  margin-right: auto; }

.logoEmail h3 {
  text-align: center; }

.logoInicio {
  display: flex;
  justify-content: center; }

.contenedor-principal {
  /* hace que ocupe el 100% del espacio del html */
  height: 100vh;
  display: grid;
  grid-template-rows: 0.65fr 1fr 0.25fr;
  /* el grid para columns lo omito porque me colapsa el main */
  /* por facilidad las columns las pienso aplicar a parte en el main y el footer*/ }

footer {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 2fr 1.5fr repeat(4, 1fr);
  grid-template-areas: "logo email red1 red2 red3 red4";
  align-items: center; }

.logoFooter {
  grid-area: logo; }
  .logoFooter a {
    display: flex;
    justify-content: center; }

.logoEmail {
  grid-area: email; }
  .logoEmail a {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center; }

.logoRedes1 {
  grid-area: red1; }
  .logoRedes1 a {
    display: flex;
    justify-content: center; }

.logoRedes2 {
  grid-area: red2; }
  .logoRedes2 a {
    display: flex;
    justify-content: center; }

.logoRedes3 {
  grid-area: red3; }
  .logoRedes3 a {
    display: flex;
    justify-content: center; }

.logoRedes4 {
  grid-area: red4; }
  .logoRedes4 a {
    display: flex;
    justify-content: center; }

.logoEmail h3 {
  font-size: medium; }

/* En el header use flex como layout */
header {
  background-image: url(fondoHeaderFooter.jpg);
  /* background-color: black; */ }

header h1 {
  display: none; }

.contenedorLogo {
  display: flex;
  justify-content: center;
  border-bottom: 2px solid #dda9a4; }

header img {
  width: 21%; }

.menu__lista a {
  /* retira el subrayado de los links (a) */
  text-decoration: none;
  color: #dda9a4; }

header nav ul li {
  font-family: 'Merriweather', serif;
  font-weight: bold;
  list-style: none;
  margin: 1rem;
  padding: 1rem;
  transition-duration: .5s; }

.menu__lista:hover {
  border-radius: 0.8rem;
  background-color: beige; }

body {
  background-color: #dda9a4; }

main {
  font-family: 'Merriweather', serif; }

footer {
  background-image: url(fondoHeaderFooter.jpg);
  font-family: 'Merriweather', serif; }

.logoFooter img {
  width: 100%; }

.logoEmail {
  color: #dda9a4; }
  .logoEmail img {
    width: 50%; }

.logoRedes1 img {
  width: 60%; }

.logoRedes2 img {
  width: 60%; }

.logoRedes3 img {
  width: 60%; }

.logoRedes4 img {
  width: 60%; }

/* fin de los estilos de para los 5 html */
/* index */
.imagen-inicio img {
  width: 90%;
  margin: 0.35rem;
  padding: 1rem;
  background-color: #141414; }

.sub1 {
  font-weight: bolder;
  font-family: 'Merriweather', serif;
  font-family: 'Roboto Mono', monospace;
  margin-left: 1rem;
  margin-bottom: 1rem;
  color: #dda9a4; }

.parrafo1 {
  margin-left: 15px;
  margin-bottom: 20px;
  text-align: justify;
  color: antiquewhite; }

.sub2 {
  font-weight: bolder;
  font-family: 'Merriweather', serif;
  font-family: 'Roboto Mono', monospace;
  margin-left: 1rem;
  margin-bottom: 1rem;
  color: #dda9a4; }

.parrafo2 {
  margin-left: 1rem;
  margin-bottom: 1rem;
  text-align: justify;
  color: antiquewhite; }

.button {
  padding: 1rem 1.5rem;
  margin: 1.5rem;
  background: whitesmoke;
  font-weight: bolder;
  color: black;
  border-radius: 5px;
  outline: 0;
  border: 0;
  text-decoration: none;
  box-shadow: 4px 4px 0 black;
  cursor: pointer;
  transition: 0.3s;
  width: 30%; }
  .button a {
    text-decoration: none;
    color: black; }

.button:active {
  transform: translate(4px, 4px);
  box-shadow: none; }

.main-inicio {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: "imagen parrafo1 parrafo1"  "imagen parrafo2 parrafo2" "imagen boton boton"; }

.imagen-inicio {
  grid-area: imagen;
  justify-items: center;
  align-items: center; }

.parrafo1-inicio {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  background-color: #141414;
  padding: 1.5rem;
  grid-area: parrafo1; }

.parrafo2-inicio {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  background-color: #141414;
  padding: 1.5rem;
  grid-area: parrafo2; }

.button {
  grid-area: boton;
  justify-self: center; }

/* fin index */
/* Tatiana C Duran */
.titulo2 {
  font-weight: bolder;
  font-family: 'Merriweather', serif;
  font-family: 'Roboto Mono', monospace;
  margin: 25px;
  text-align: center;
  align-self: center; }

.bloque1 {
  background-color: black;
  padding: 15px; }

.bloque1__titulo1 {
  color: #dda9a4;
  font-family: 'Merriweather', serif;
  font-family: 'Roboto Mono', monospace;
  margin-left: 35px; }

.bloque1__titulo1--sub {
  color: antiquewhite;
  margin-left: 25px;
  margin-top: 8px; }

.doctora-2 {
  width: 75%; }

.parrafo-1 {
  margin: 25px;
  padding-left: 35px; }

.main-doctora {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 0.15fr 1fr 0.15fr 0.65fr;
  grid-template-areas: "titulo titulo titulo" "bloque bloque bloque" "subti subti subti" "carrusel carrusel carrusel"; }

.titulo2 {
  grid-area: titulo; }

.bloque1 {
  grid-area: bloque; }

.parrafoDoc2 {
  text-align: center;
  font-family: 'Merriweather', serif;
  font-family: 'Roboto Mono', monospace;
  grid-area: subti;
  align-self: center;
  font-size: 1.2rem;
  font-weight: bolder; }

.carousel {
  grid-area: carrusel;
  width: 60%;
  justify-self: center;
  padding: 1rem; }

/* grid bloque1 */
.bloque1 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto;
  grid-template-areas: "imgBloc parrBloc"; }

.contenedorImgDoc2 {
  grid-area: imgBloc;
  display: flex;
  justify-content: center; }

.contenedorParrafoBloque1 {
  grid-area: parrBloc;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center; }

/* fin Tatiana C Duran */
/* inicio galeria */
.tituloMulti {
  font-weight: bolder;
  font-family: 'Merriweather', serif;
  font-family: 'Roboto Mono', monospace;
  margin: 35px;
  text-align: center; }

.imgGaleria {
  width: 100%;
  margin-top: 5px; }

.rowGaleria {
  display: flex;
  flex-wrap: wrap;
  padding: 5px; }

.columnGaleria {
  flex: 25%;
  padding: 5px; }

/* fin galeria */
/* inicio procedimientos */
.titulos {
  text-align: center;
  color: #dda9a4;
  font-family: 'Merriweather', serif;
  font-family: 'Roboto Mono', monospace; }

.imgDisenio img {
  width: 55%; }

.imgProcedimientos {
  width: 65%; }

.main-procedimientos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "parrBlanq imgBlanq" "imgDisenio parrDisenio" "parrArmonia imgArmonia";
  align-items: center; }

.contenedorBlanquiamento {
  grid-area: parrBlanq; }

.imgBlaqueamiento {
  grid-area: imgBlanq;
  display: flex;
  justify-content: end;
  width: 80%; }

.imgDisenio {
  grid-area: imgDisenio;
  display: flex;
  justify-content: center; }

.contenedorDisenio {
  grid-area: parrDisenio; }

.contenedorArmonia {
  grid-area: parrArmonia; }

.imgArmonia {
  grid-area: imgArmonia;
  display: flex;
  justify-content: end;
  width: 80%; }

/* fin procedimientos */
/* contacto */
.tituloContacto {
  display: none; }

form {
  margin: 35px;
  grid-area: formulario; }

form fieldset {
  padding: 15px; }

form fieldset legend {
  font-weight: bold;
  padding: 15px;
  display: flex;
  justify-content: center; }

form fieldset div {
  padding: 2.5px;
  margin: 2.5px;
  display: flex;
  justify-content: center; }

form fieldset textarea {
  padding: 5px; }

.titulo-contacto {
  color: black;
  font-size: 27px;
  padding: 10px; }

.btn {
  background-color: black;
  border: black;
  color: antiquewhite; }

.mapaGoogle {
  grid-area: mapa;
  background-color: #141414;
  margin: 1.5rem; }
  .mapaGoogle .tituloMap {
    background-color: black;
    color: aliceblue;
    font-size: 1.5rem; }

/* fin contacto */
/* media queries para TODOS LOS HTML*/
/* Celulares*/
@media screen and (max-width: 576px) {
  footer {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1.5fr 1fr 1fr;
    grid-template-areas: "email red1 red2"  "email red3 red4"; }
  .logoFooter {
    display: none; }
  .logoEmail {
    text-align: center;
    grid-area: email;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem; }
  .logoRedes1 {
    grid-area: red1;
    justify-content: end;
    align-self: end;
    padding: 0.25rem; }
  .logoRedes2 {
    grid-area: red2;
    justify-content: start;
    padding: 0.25rem;
    align-self: end; }
  .logoRedes3 {
    grid-area: red3;
    justify-content: end;
    align-self: start;
    padding: 0.25rem; }
  .logoRedes4 {
    grid-area: red4;
    justify-content: start;
    align-self: start;
    padding: 0.25rem; } }

/* tabletas */
@media (max-width: 991px) and (min-width: 576px) {
  footer {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 0.5fr 0.5fr;
    grid-template-areas: "logo email red1 red2" "logo email red3 red4"; } }

/* desde tableta hasta escritorio iconos del footer mas pequenios */
@media (min-width: 768px) {
  .logoFooter {
    width: 70%;
    justify-self: center; }
  .logoEmail {
    width: 60%;
    justify-self: center; }
  .logoRedes1 {
    width: 60%;
    justify-self: center; }
  .logoRedes2 {
    width: 60%;
    justify-self: center; }
  .logoRedes3 {
    width: 60%;
    justify-self: center; }
  .logoRedes4 {
    width: 60%;
    justify-self: center; } }

/* fin de los media queries para TODOS LOS HTML*/
/* media queries index*/
/* Celulares */
@media screen and (max-width: 576px) {
  .main-inicio {
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "imagen "  "parrafo1" "parrafo2" "boton"; }
  .imagen-inicio {
    grid-area: imagen;
    display: flex;
    justify-content: center; }
  .parrafo1-inicio {
    padding: 1rem;
    padding-right: 1rem;
    grid-area: parrafo1;
    text-align: center; }
  .parrafo2-inicio {
    padding-right: 1rem;
    padding: 1rem;
    grid-area: parrafo2;
    text-align: center; }
  .button {
    grid-area: boton; } }

/* tabletas */
@media (max-width: 991px) and (min-width: 576px) {
  .main-inicio {
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "imagen "  "parrafo1" "parrafo2" "boton"; }
  .imagen-inicio {
    display: flex;
    justify-content: center; } }

/* escritorios */
@media (min-width: 992px) {
  .main-inicio {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "imagen parrafo1 parrafo1" "imagen parrafo2 parrafo2" "imagen boton boton"; }
  .imagen-inicio {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 90%; }
  .button {
    width: 17%;
    height: 50%; }
  .mapaGoogle {
    grid-area: map; } }

/* fin media queries index */
/* media queries Doctora Tatiana */
/* Celulares */
@media screen and (max-width: 576px) {
  .main-doctora {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "titulo" "bloque" "subti" "carrusel"; }
  .bloque1 {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "imgBloc" "parrBloc"; }
  .carousel {
    width: 90%; } }

/*tabletas*/
@media (max-width: 991px) and (min-width: 576px) {
  .main-doctora {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "titulo" "bloque" "subti" "carrusel"; }
  .bloque1 {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "imgBloc" "parrBloc"; }
  .carousel {
    width: 90%; } }

/* fin media queries Doctora Tatiana */
/* media queries galeria */
/* celulares*/
@media screen and (max-width: 576px) {
  .columnGaleria {
    flex: 100%; } }

/* tabletas*/
@media (max-width: 991px) and (min-width: 576px) {
  .columnGaleria {
    flex: 50%; } }

/* fin media queries galeria */
/* media queries procedimientos */
/* celulares pequenios */
@media (max-width: 576px) {
  .main-procedimientos {
    grid-template-columns: auto;
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: "parrBlanq" "imgBlanq" "parrDisenio" "imgDisenio" "parrArmonia" "imgArmonia"; } }

/* tabletas pequenias */
@media (max-width: 991px) and (min-width: 576px) {
  .main-procedimientos {
    grid-template-columns: auto;
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: "parrBlanq" "imgBlanq" "parrDisenio" "imgDisenio" "parrArmonia" "imgArmonia"; } }

/* fin media queries procedimientos */
/* media queries contacto */
/* celulares pequenios */
@media (max-width: 576px) {
  .container-fluids {
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "formulario" "mapa"; } }

/* tabletas pequenias */
@media (max-width: 1100px) and (min-width: 576px) {
  .container-fluid {
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "formulario" "mapa"; } }

/* fin media queries contacto*/
