/* estilos de para los 5 html */
/*Reset*/
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.boton{
    color: $color-primario;
    background-color: $color-primario;
    margin-left: auto;
    margin-right: auto;
}

.logoEmail{
    h3{
        text-align: center;
    }
}

.logoInicio{
    display: flex;
    justify-content: center;
}

.contenedor-principal{
    /* hace que ocupe el 100% del espacio del html */
    height: 100vh;
    display: grid;
    grid-template-rows: 0.65fr 1fr 0.25fr;
    /* el grid para columns lo omito porque me colapsa el main */
    /* por facilidad las columns las pienso aplicar a parte en el main y el footer*/
}

footer{
    display: grid;
    grid-template-rows:  1fr;
    grid-template-columns:  2fr 1.5fr repeat(4, 1fr);
    grid-template-areas: "logo email red1 red2 red3 red4";
    align-items: center;
}

.logoFooter{  
    grid-area: logo;
    a{
        display: flex;
        justify-content: center;
    }
}

.logoEmail {
        grid-area: email;
        a{
            flex-direction: column;
            display: flex;
            justify-content: center;
            align-items: center;
        }
}

.logoRedes1 {
    grid-area: red1;
    a{
        display: flex;
        justify-content: center;
    }
}

.logoRedes2 {
    grid-area: red2;
    a{
        display: flex;
        justify-content: center;
    }
}

.logoRedes3 {
    grid-area: red3;
    a{
        display: flex;
        justify-content: center;
    }
}

.logoRedes4 {
    grid-area: red4;
    a{
        display: flex;
        justify-content: center;
    }
}

.logoEmail{
    h3{
        font-size: medium;
    }
}

/* En el header use flex como layout */
header{
    background-image: url(fondoHeaderFooter.jpg);
    /* background-color: black; */
}

header{
    h1{
        display: none;
    }
}

.contenedorLogo{
    display: flex;
    justify-content: center;
    border-bottom: 2px solid $color-primario;
}

header img{
    width: 21%;
}

.menu__lista{
    a{
        /* retira el subrayado de los links (a) */
        text-decoration: none;
        color: $color-primario;
    }
}

header{
    nav{
        ul{
            li{
                font-family: 'Merriweather', serif;
                font-weight: bold;
                list-style: none;
                margin: 1rem;
                padding: 1rem;
                transition-duration: .5s;
            }
        }
    }
}

.menu__lista:hover{
    border-radius: 0.8rem; 
    background-color: beige;
}

body{
    background-color: $color-primario;
}

main{
    font-family: 'Merriweather', serif;
}

footer{
    background-image: url(fondoHeaderFooter.jpg);    
    font-family: 'Merriweather', serif;
}

.logoFooter{
    img{
        width: 100%;
    }
}

.logoEmail{
    color: $color-primario;
    img{
        width: 50%;
    }
}

.logoRedes1{
    img{
        width: 60%;
    }
}

.logoRedes2{
    img{
        width: 60%;
    }
}

.logoRedes3{
    img{
        width: 60%;
    }
}

.logoRedes4{
    img{
        width: 60%;
    }
}
/* fin de los estilos de para los 5 html */