/* inicio galeria */
.tituloMulti{
    @include tituloGaleria;
}   

.imgGaleria{
    width: 100%;
    margin-top: 5px;
}

.rowGaleria{
    display: flex; 
    flex-wrap: wrap;
    padding: 5px; 
}

.columnGaleria{
    flex: 25%;
    padding: 5px;
}

/* fin galeria */