/* inicio procedimientos */
.titulos{
    text-align: center;
    color: $color-primario;
    font-family: 'Merriweather', serif;
    font-family: 'Roboto Mono', monospace;
}

.imgDisenio{
    img{
        width: 55%;   
    }
}

.imgProcedimientos{
    width: 65%;
}

.main-procedimientos{
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "parrBlanq imgBlanq"
                         "imgDisenio parrDisenio"
                         "parrArmonia imgArmonia";
    align-items: center;
}

.contenedorBlanquiamento{
    @extend %contenedores;
    grid-area: parrBlanq;
}

.imgBlaqueamiento{
    grid-area: imgBlanq;
    display: flex;
    justify-content: end;
    width: 80%;
}

.imgDisenio{
    grid-area: imgDisenio;
    @include flex-center;
    
}

.contenedorDisenio{
    @extend %contenedores;
    grid-area: parrDisenio;
}

.contenedorArmonia{
    @extend %contenedores;
    grid-area: parrArmonia;
}

.imgArmonia{
    grid-area: imgArmonia;
    display: flex;
    justify-content: end;
    width: 80%;
}
/* fin procedimientos */
