//extend para procedimientos
/* extends */
%contenedores{
    background-color: $color-secundario;
    color: antiquewhite;
    padding: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}